@CHARSET "utf-8";


.text2{
	font-style:italic;
	}
	*{
	}
	h1{
	background-color:skyblue;
	border:2px solid;
	}
	h3{
	color:yellow;
	text-align:right;
	}
	#text1{
	font-weight:bold;
	}
	h1,h3{
	text-decoration:underline;
	}
